<app-navbar></app-navbar>
<div class="container mt-5 mb-5 bg-light">
  <div class="row no-gutters" >
    <div class="col-md-4 col-lg-4"><img src="assets/images/pdp.jpg" style="border-radius: 200px;width: 350px; height: 350px;"></div>
    <div class="col-md-8 col-lg-8" >
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
          <h3 class="display-5">{{nom}}</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i
            class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i>
        </div>
        <div class="p-3 bg-black text-white">
          <h6>{{role}}</h6>
         
        </div>
      
          <div class="p-4 bg-primary text-center skill-block">
            <h4>{{InStockBooks}}</h4>
            <h6>In Stock Books</h6>
          </div>
         
       

        </div>
      </div>
      </div>
    </div>

  <section class="container mt-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <img src="assets/images/1.jpg" class="bookImage">
        </div>
        <div class="row text-center  p-3 ">
          <h4 class="text-dark">Book Name</h4>
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <img src="assets/images/2.jpg" class="bookImage">
        </div>
        <div class="row text-center  p-3 ">
          
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <img src="assets/images/3.jpg" class="bookImage">
        </div>
        <div class="row text-center  p-3 ">
      
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <img src="assets/images/5.jpg" class="bookImage">
        </div>
        <div class="row text-center  p-3 ">
         
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <img src="assets/images/4.jpg" class="bookImage">
        </div>
        <div class="row text-center  p-3 ">
        
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <img src="assets/images/6.jpg" class="bookImage">
        </div>
        <div class="row text-center  p-3 ">
        
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
    </div>
  </section>

