<footer>
    <div class="footer-content">
    <h3>Smart Book Store</h3>
    <p>Smart Book Store est une petite entreprise privée qui vous propose de nombreuses offres qui recherchent votre confort</p>
    <ul class="socials" >
      <li><a href="https://www.facebook.com/chaima.mokhtar.184/" ><i class="fa fa-facebook " style="color:rgb(39, 65, 214); font-size:24px" ></i></a></li>
      <li><a href="https://www.instagram.com/chayma_houas/?hl=fr"><i class="fa fa-instagram" style="color:rgb(39, 65, 214); ;font-size:24px;"></i></a></li>
    </ul>

    </div>
    <div class="footer-bottom">
      <p style="color:white; "><br>Copyright &copy;2022 All Rights Reserved | This Template Designed by <span>Viking Team</span><br><br></p>

    </div>

    </footer>
