@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    max-width: 1170px;
    background-color: transparent;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: white;
    padding: 70px 0;


}
.footer-col{
    width: 25% ;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #13376d;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}


.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #181418;
    text-decoration: none;
    font-weight: 300;
    color: #63b12b;
    display: block;
}
.footer-col ul li a:hover{
    color: #034377;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(36, 128, 214, 0.973);
    margin: 0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:white;
}
.footer-col .social-links a:hover{
    color: #2958d1;

    background-color: #e8ebe8;
}
