<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../../assets/chi.png">
          </div>
          <div class="team-content">
            <h3 class="name">Mokhtar Chayma</h3>
           
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/chaima.mokhtar.184/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://www.instagram.com/chayma_houas/?hl=fr" class="fa fa-instagram" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../../assets/achref.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Achref Maarfi</h3>
         
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-instagram" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../../assets/asmaa.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Asma Triki</h3>
           
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-instagram" aria-hidden="true"></a></li>

          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="../../assets/heni.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Djebbi Heni</h3>
           
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="" class="fa fa-instagram" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="../../assets/oumaima.png">
              </div>
              <div class="team-content">
                <h3 class="name">Oumaima Akaichi</h3>
               
              </div>
              <ul class="social">
                <li><a href="" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="" class="fa fa-google-plus" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
    </div>
  </div>