.nav-link{
    color: black;
  }
  .l{
    color: black;
    size: 40px;
  }
  table{
    border-collapse: collapse;
    text-align: center;
    margin:auto;
    margin-right: 19%;
    margin-top: 7%;
  }
