
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="l">Home</b></a>
          </li>
        <!--<li class="nav-item">
            <a class="nav-link" routerLink="/Ajout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="l">Profil</b></a>
          </li>--> 


          <li class="nav-item">
            <a class="nav-link" routerLink="/login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="l">Log In</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="l">LogIn</b></a>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="/about">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="l">About us</b></a>
          </li>
         

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </form>
      </div>
    </div>
  </nav>

