<app-navbar></app-navbar>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Login</title>
  </head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <body>


  <div class="d-md-flex half">
    <div class="bg" style="background-image: url('../../assets/oumaima/cc.jpeg');"></div>
    <div class="contents">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="form-block mx-auto">
              <div class="text-center mb-5">
              <h3> <strong>Login</strong></h3>
              <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
              </div>
              <form action="#"  [formGroup]="loginForm">
                <div class="form-group first">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" fromControlName="adresse"  placeholder="your-email@gmail.com" name="adresse">
                </div>
                <div class="form-group last mb-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" fromControlName="motPasse" placeholder="Your Password" name="motPasse">
                </div>

                <div class="d-sm-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Remember me</span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>
                  <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                </div>
                <div class="d-sm-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Libraire</span>
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>&nbsp;&nbsp;
                </label>
                  <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Lecteur</span>
                    <input type="checkbox"/>
                    <div class="control__indicator"></div>
                    </label>
                </div>
                <div class="w3-container">
              <button class="w3-button w3-black w3-round" (click)="login()"  style="width:100%">Log In </button>
            </div>
                <br>
                <span class="ml-auto">&nbsp; &nbsp;&nbsp; &nbsp;Don't have account ?&nbsp; &nbsp;<a href="/inscription" class="inscri"><b style="color: chocolate;">Sign Up Here</b></a></span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>




  </body>
</html>
