
<title>Account Admin</title>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<body>

<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>


<header id="header" >
  <div class="d-flex flex-column"><br><br>

    <div>
      <img src="../../assets/avatar.png" style="width:70%;padding-left: 60px;" class="w3-round"><br>
      <h1 class="text-light"><a href="index.html" style="padding-left: 99px;">Admin</a></h1>
     
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="/book" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Add Book</span></a></li>
        <li><a href="/admin1" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Book List</span></a></li>
      
      </ul>

      <div class="w3-bar-block">
        <a routerLink="/login" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">&nbsp;<i style="font-size:19px;color:rgb(179, 32, 32)" class="fa">&#xf08b;</i>&nbsp;Log Out</a>

      </div>
    </nav>
  </div>
 
</header>




<div class="container">
  <div class="row">
      <div class="col-md-offset-1 col-md-10">
          <div class="panel">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col col-sm-3 col-xs-12">
                          <h4 class="title">Book<span>List</span></h4>
                      </div>
                     
                  </div>
              </div>
              <div class="panel-body table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                           
                             
                                <th>Id</th>
                                <th>Author</th>
                                <th>Rebrique</th>
                                <th>Title</th>
                                <th>Stock</th>
                                <th>ACTION</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let s of lesbooks">
                                <td>{{s.cin}}</td>
                                <td>{{s.auteur}}</td>
                                <td>{{s.rebrique}}</td>
                                <td>{{s.titre}}</td>
                                <td>{{s.stock}}</td>
                                <td>
                                  <ul class="action-list">
                                      <li><a routerLink="/edit/{{s.cin}}" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a routerLink="/delete/{{s.cin}}" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                              </tr>
                            </tbody>
                         
                          
                  </table>
              </div>
           
      </div>
  </div>
</div>
</div>
<footer id="footer">
  <div class="container">


  </div>
</footer>
