<!-- 




les donnes de l'utilisateur 
<h1>hello</h1>
<tr *ngFor="let e of lesbooks">
   <td>{{e.cin}}</td><br>
   <td>{{e.auteur}}</td><br>
   <td>{{e.rebrique}}</td><br>
   <td>{{e.titre}}</td></tr> -->

   <div class="container">
      <div id="demo" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="card">
                   
                      <div class="row">
                          <div class="col-md-6 text-center align-self-center"> <img class="img-fluid" src="assets/images/5.jpg" routerLink="/"> </div>
                          <div class="col-md-6 info">
                              <div class="row title">
                                  <div class="col">
                                     
                                  </div>
                                
                              </div>
                              <h1>نتيخريستوس</h1> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star-half-full"></span> <span id="reviews">1590 Reviews</span>
                              <div class="row price"> <label class="radio"> <input type="radio" name="size1" value="small" checked> <span>
                                        
                                          <div class="row">20.95 TND</div>
                                      </span> </label> <span>لخص الرواية "أيمن جمال الدين الكيلاني" بقوله رواية أنتيخريستوس هي رواية خيالية صدرت في عام 2015، وكاتبها هو أحمد خالد مصطفى. هي رواية رائعة تجمع بين الخيال والواقع. أولا كلمة "أنتيخيريستوس" هي كلمة لاتينية تعني المسيح الدجال، وهذا هو المحور العام الذي تدور حوله أحداث ومجريات الرواية. يجمع الكاتب أحداث الرواية في مزيج خيالي رائع بين عالم الجن العالم الآخر وعالمنا الواقعي، حيث تبدأ أحداثها من النمرود الذي إلتقى أول مرة الشيطان وكيف بدأ نزول السحر في بابل والعراق.</span>
                          </div>
                      </div>
                      <div class="row lower">
                          <!-- <div class="col"> <a class="carousel-control-prev" href="#demo" data-slide="prev"><i class="fa fa-arrow-left"></i></a> <a class="carousel-control-next" href="#demo" data-slide="next"><i class="fa fa-arrow-right"></i></a> </div> -->
                         
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>