<h1>Delete User</h1>
<div *ngIf="cin">
  <strong>Are You Sure To Delete User {{cin}}?</strong> <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="valider()">Yes</button>&nbsp;
  <button (click)="annuler()">Cancel</button>
</div>