

table{
    border-collapse: collapse;
    text-align: center;
    margin:auto;
    margin-left: 15%;
    margin-top: 15%;
    width:inherit;
  }
  
  th, td{
    border: 1px solid black;
    padding: 10px;
  }
  
  h1{
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 16%;
        font-style: normal;
        text-align: center;
        font-weight: bold;
        font-weight: 900;
        font-size: 20px;
    }
      
    tr:nth-child(even) {background-color: #e0e4e7;}
  
  img
  {
    margin-left: 20%;
  }