<h1>Delete Book</h1>
<div *ngIf="cin">
  <strong>Are You Sure To Delete Book {{cin}}?</strong> <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="validerr()">Yes</button>&nbsp;
  <button (click)="annuler()">Cancel</button>
</div>