button:hover{

    transform: translateY(3px);
    box-shadow: 0 1px #2980b9;
  
  }
  button:active {
    transform: translateY(7px);
    box-shadow: 0 1px #2980b9;
  }
  button
{
  text-align: center;
  padding:10px 12px;
  font-size: 13px;
  border-radius: 12px;
  color:black;
  background-color:mediumslateblue;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px #2980b9;
  outline: none;
  
  background-position: 0%;
  

}