<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family:"Raleway",sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:285px;background-color:black;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="../../assets/avatar.png" style="width:48%;" class="w3-round"><br><br>
    <h4><b>Account Admin</b></h4>

  </div>
  <div class="w3-bar-block">
    <a routerLink="/login" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">&nbsp;<i style="font-size:19px;color:rgb(179, 32, 32)" class="fa">&#xf08b;</i>&nbsp;Log Out</a>

  </div>
  <div class="w3-panel w3-large">
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/chaima.mokhtar.184/" role="button"><i style="font-size:30px;color:rgb(38, 62, 197)" class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/chaimamokhtar20/?hl=fr" role="button"><i style="font-size:30px;color:rgb(38, 62, 197)" class="fa fa-instagram"></i></a>
  </div>
</nav>
<a routerLink="/ajouter">Ajouter Un PN</a>


  <h1>Liste des Utilisateurs </h1>
  <table border=2>
    <tr>
    <th>CIN</th>
    <th>E-MAIL</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>ROLE</th>
    <th>PASSWORD</th>
    <th>EDIT</th>
    <th>DELETE</th>
    </tr>
    <tr *ngFor="let u of lesusers">
    <td>{{u.cin}}</td>
    <td>{{u.adresse}}</td>
    <td>{{u.nom}}</td>
    <td>{{u.prenom}}</td>
    <td>{{u.Role}}</td>
    <td>{{u.motPasse}}</td>
    <td><a  class="btn btn-primary" routerLink="/modifier/{{u.cin}}">Edit</a></td>
    <td><a  class="btn btn-primary" routerLink="/supprimer/{{u.cin}}">Delete</a></td>
    </tr>
  </table>

  <script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
    </script>




