

table{
  border-collapse: collapse;
  text-align: center;
  margin:auto;
  margin-right: 19%;
  margin-top: 7%;
}

th, td{
  border: 1px solid black;
  padding: 10px;
}

h1{
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 16%;
      font-style: normal;
      text-align: center;
      font-weight: bold;
      font-weight: 900;
      font-size: 30px;
  }
    
  tr:nth-child(even) {background-color: #f2f2f2;}

img
{
  margin-left: 20%;
}