<!-- 




les donnes de l'utilisateur 
<h1>hello</h1>
<tr *ngFor="let e of lesbooks">
   <td>{{e.cin}}</td><br>
   <td>{{e.auteur}}</td><br>
   <td>{{e.rebrique}}</td><br>
   <td>{{e.titre}}</td></tr> -->

   <div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card">
                 
                    <div class="row">
                        <div class="col-md-6 text-center align-self-center"> <img class="img-fluid" src="assets/images/t.jpg" routerLink="/"> </div>
                        <div class="col-md-6 info">
                            <div class="row title">
                                <div class="col">
                                   
                                </div>
                              
                            </div>
                            <h1>نتيخريستوس</h1> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star-half-full"></span> <span id="reviews">1590 Reviews</span>
                            <div class="row price"> <label class="radio"> <input type="radio" name="size1" value="small" checked> <span>
                                      
                                        <div class="row">59.000 TND</div>
                                    </span> </label> <span> الكاتب عبد الرحمن منيف

                                        هذا الكتاب الذي يحمل عنوناً محدداً: "بين الثقافة والسياسة" يهدف بالدرجة الأساسية إلى طرح عدد من المشاكل، هي أقرب إلى الأسئلة أكثر مما يدعي تقديم الإجابات الكاملة أو الحلول.
                                        فعلاقة الثقافة بالسياسة إشكالية كبرى في هذه المرحلة، لأن الخيبات الكثيرة التي تلاحقت خلال المراحل الأخيرة ولدت مناخاً ملتبساً، وهذا المناخ حمل معه أوهاماً، الأمر الذي يقتضي فتح حوار واسع من أجل الوصول إلى صيغة جديدة تحدد العلاقة بين الثقافة والسياسة وبين المتثقفين والسياسيين.</span>
                        </div>
                    </div>
                    <div class="row lower">
                        <!-- <div class="col"> <a class="carousel-control-prev" href="#demo" data-slide="prev"><i class="fa fa-arrow-left"></i></a> <a class="carousel-control-next" href="#demo" data-slide="next"><i class="fa fa-arrow-right"></i></a> </div> -->
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>