<app-navbar></app-navbar>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

    </ol>



  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="background-color: rgb(97, 97, 129);"gg>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/oumaima/1.jpg" class="d-block w-100" alt="..." style="height: 350px; width: 100dp;">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/rrr.jpg" class="d-block w-100" alt="..." style="height: 350px; width: 100dp;">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/r.jpg" class="d-block w-100" alt="..." style="height: 350px; width: 100dp;">
      </div>
      <div class="carousel-item">
        <img src="assets/oumaima/1.jpg" class="d-block w-100" alt="..." style="height: 350px; width: 100dp;">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>
<section class="container mt-4">
    <table class="row justify-content-center align-items-center">

      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <img src="assets/images/s.jpg" class="bookImage" style="height: 300px;" routerLink="/livre2">
        </div>
        <div class="row text-center  p-3 ">
         

        </div>
      </div>

      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <img src="assets/images/t.jpg" class="bookImage" style="height: 300px; " routerLink="/livre1">
        </div>
        <div class="row text-center  p-3 ">
       

        </div>
      </div>

      <div class="col-md-3 justify-content-center align-items-center my-3 mx-3">
        <div class="row">
          <a class="bookImage" routerLink="/livre">
            <img src="assets/images/5.jpg" style="height: 300px; width: 250px;"/>
           </a>
      
        </div>
        <div class="row text-center  p-3 ">
         

        </div>

      </div>

    </table>
    



</section>
<app-footer></app-footer>
