<!-- 




les donnes de l'utilisateur 
<h1>hello</h1>
<tr *ngFor="let e of lesbooks">
   <td>{{e.cin}}</td><br>
   <td>{{e.auteur}}</td><br>
   <td>{{e.rebrique}}</td><br>
   <td>{{e.titre}}</td></tr> -->

   <div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card">
                 
                    <div class="row">
                        <div class="col-md-6 text-center align-self-center"> <img class="img-fluid" src="assets/images/s.jpg" routerLink="/"> </div>
                        <div class="col-md-6 info">
                            <div class="row title">
                                <div class="col">
                                   
                                </div>
                              
                            </div>
                            <h1>نتيخريستوس</h1> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star-half-full"></span> <span id="reviews">1590 Reviews</span>
                            <div class="row price"> <label class="radio"> <input type="radio" name="size1" value="small" checked> <span>
                                      
                                        <div class="row">55.000 TND</div>
                                    </span> </label> <span>Nos étoiles contraires (titre original : The Fault in Our Stars) est un roman pour adolescents de l'écrivain américain John Green édité en janvier 2012 par Dutton Books.

                                        Il a été édité en 2013 par Nathan Jeunesse en français.
                                        
                                        Le roman a connu un grand succès public et critique, figurant pendant 7 semaines consécutives en tête de la New York Times Best Seller list.
                                        
                                        Il a fait l'objet d'une adaptation cinématographique en 2014, avec Shailene Woodley et Ansel Elgort dans les rôles principaux de Hazel Grace Lancaster et Augustus Waters.</span>
                        </div>
                    </div>
                    <div class="row lower">
                        <!-- <div class="col"> <a class="carousel-control-prev" href="#demo" data-slide="prev"><i class="fa fa-arrow-left"></i></a> <a class="carousel-control-next" href="#demo" data-slide="next"><i class="fa fa-arrow-right"></i></a> </div> -->
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>